create database QLBS;
USE [QLBS]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 4/10/2025 12:56:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [varchar](255) NOT NULL,
	[MASACH] [varchar](255) NOT NULL,
	[SOLG] [float] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
	[GIAMGIA] [float] NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sp_rename 'CHITIETHOADON.THANHTIEN', 'TONGTIEN', 'COLUMN';
AlTER TABLE CHITIETHOADON ADD THANHTIEN FLOAT;
ALTER TABLE CHITIETHOADON DROP COLUMN HINHANH;

UPDATE CHITIETHOADON
SET GIAMGIA= (GIAMGIA / 100) * TONGTIEN
UPDATE CHITIETHOADON
SET THANHTIEN = TONGTIEN * (100 - GIAMGIA) / 100;
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 4/10/2025 12:56:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MAPN] [varchar](255) NULL,
	[MASACH] [varchar](255) NULL,
	[SOLG] [float] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
	[GIAMGIA] [float] NULL,
	[STATUS] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAMGIA]    Script Date: 4/10/2025 12:56:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAMGIA](
	[MAGG] [varchar](255) NOT NULL,
	[TENGG] [varchar](255) NULL,
	[LUONGGIAM] [float] NULL,
	[NGAYBD] [varchar](255) NULL,
	[NGAYKT] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 4/10/2025 12:56:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](255) NOT NULL,
	[MANV] [varchar](255) NULL,
	[MAKH] [varchar](255) NULL,
	[NGAYLAP] [varchar](255) NULL,
	[TONGTIEN] [float] NULL,
	[TONGSOLG] [float] NULL,
	[HINHTHUC] [varchar](255) NULL,
	[THANHTIEN] [float] NULL,
	[TONGGG] [float] NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/10/2025 12:56:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](255) NOT NULL,
	[TENKH] [varchar](255) NULL,
	[SDT] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[PHAI] [varchar](255) NULL,
	[NGAYSINH] [Date](255) NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 4/10/2025 12:56:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](255) NOT NULL,
	[TENNCC] [varchar](255) NULL,
	[DIACHI] [varchar](255) NULL,
	[SDT] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 4/10/2025 12:56:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](255) NOT NULL,
	[TENNV] [varchar](255) NULL,
	[SDT] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[PHAI] [varchar](255) NULL,
	[CHUCVU] [varchar](255) NULL,
	[LUONG] [float] NULL,
	[NGAYSINH] [date](255) NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 4/10/2025 12:56:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [varchar](255) NOT NULL,
	[MANV] [varchar](255) NULL,
	[MANCC] [varchar](255) NULL,
	[TONGTIEN] [float] NULL,
	[TONGSOLG] [float] NULL,
	[NGAYNHAP] [varchar](255) NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 4/10/2025 12:56:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [varchar](255) NOT NULL,
	[TENSACH] [varchar](255) NULL,
	[MALOAI] [varchar](255) NULL,
	[MATG] [varchar](255) NULL,
	[MANCC] [varchar](255) NULL,
	[SOLG] [float] NULL,
	[DONGIA] [float] NULL,
	[HINHANH] [varchar] (255) null,
	[NAMXB] [int] null,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE LOAISACH (
    MALOAI [varchar](255)  PRIMARY KEY,
    TENLOAI NVARCHAR(100) NOT NULL,
    DOTUOI INT NOT NULL
);
ALTER TABLE SACH
ADD CONSTRAINT FK_SACH_LOAISACH
FOREIGN KEY (MALOAI)
REFERENCES LOAISACH(MALOAI);
/****** Object:  Table [dbo].[TACGIA]    Script Date: 4/10/2025 12:56:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATG] [varchar](255) NOT NULL,
	[TENTG] [varchar](255) NULL,
	[SDT] [varchar](255) NULL,
	[DIACHI] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- Thêm dữ liệu mẫu cho bảng LOAISACH
INSERT INTO LOAISACH (MALOAI, TENLOAI, DOTUOI) VALUES
(N'L01', N'Truyện thiếu nhi', 6),
(N'L02', N'Sách giáo khoa', 10),
(N'L03', N'Truyện tranh', 8),
(N'L04', N'Sách khoa học', 15),
(N'L05', N'Tiểu thuyết', 18);

INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASACH], [SOLG], [DONGIA], [THANHTIEN], [GIAMGIA], [STATUS]) VALUES (N'HD001', N'S001', 2, 150, 300, 10, 0)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASACH], [SOLG], [DONGIA], [THANHTIEN], [GIAMGIA], [STATUS]) VALUES (N'HD001', N'S002', 1, 200, 200, 15, 0)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASACH], [SOLG], [DONGIA], [THANHTIEN], [GIAMGIA], [STATUS]) VALUES (N'HD002', N'S003', 3, 120, 360, 5, 0)
GO
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPN], [MASACH], [SOLG], [DONGIA], [THANHTIEN], [GIAMGIA], [STATUS]) VALUES (N'PN001', N'S001', 10, 50000, 500000, 0, 0)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPN], [MASACH], [SOLG], [DONGIA], [THANHTIEN], [GIAMGIA], [STATUS]) VALUES (N'PN001', N'S002', 5, 60000, 300000, 0, 0)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPN], [MASACH], [SOLG], [DONGIA], [THANHTIEN], [GIAMGIA], [STATUS]) VALUES (N'PN002', N'S003', 12, 40000, 480000, 0, 0)
GO
INSERT [dbo].[GIAMGIA] ([MAGG], [TENGG], [LUONGGIAM], [NGAYBD], [NGAYKT]) VALUES (N'GG001', N'Giam 10%', 10, N'2025-01-01', N'2025-01-31')
INSERT [dbo].[GIAMGIA] ([MAGG], [TENGG], [LUONGGIAM], [NGAYBD], [NGAYKT]) VALUES (N'GG002', N'Giam 20%', 20, N'2025-01-01', N'2025-01-31')
INSERT [dbo].[GIAMGIA] ([MAGG], [TENGG], [LUONGGIAM], [NGAYBD], [NGAYKT]) VALUES (N'GG003', N'Tet Giam 15%', 15, N'2025-02-01', N'2025-02-15')
GO
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [NGAYLAP], [TONGTIEN], [TONGSOLG], [HINHTHUC], [THANHTIEN], [TONGGG], [STATUS]) VALUES (N'HD001', N'NV001', N'KH001', N'2024-02-01', 500000, 5, N'Tien mat', 450000, 50000, 0)
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [NGAYLAP], [TONGTIEN], [TONGSOLG], [HINHTHUC], [THANHTIEN], [TONGGG], [STATUS]) VALUES (N'HD002', N'NV002', N'KH002', N'2024-02-02', 600000, 6, N'Chuyen khoan', 540000, 60000, 0)
INSERT [dbo].[HOADON] ([MAHD], [MANV], [MAKH], [NGAYLAP], [TONGTIEN], [TONGSOLG], [HINHTHUC], [THANHTIEN], [TONGGG], [STATUS]) VALUES (N'HD003', N'NV003', N'KH003', N'2024-02-03', 700000, 7, N'Tien mat', 630000, 70000, 0)
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [STATUS]) VALUES (N'NCC001', N'NXB Kim Dong', N'HN', N'0911111122', N'kimdong@mail.com', 0)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [STATUS]) VALUES (N'NCC002', N'NXB Tre', N'HCM', N'0922222233', N'nxbtre@mail.com', 0)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [STATUS]) VALUES (N'NCC003', N'NXB Giao Duc', N'HN', N'0933333344', N'giaoduc@mail.com', 0)
GO
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MANV], [MANCC], [TONGTIEN], [TONGSOLG], [NGAYNHAP], [STATUS]) VALUES (N'PN001', N'NV001', N'NCC001', 250000, 5, N'2024-01-05', 0)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MANV], [MANCC], [TONGTIEN], [TONGSOLG], [NGAYNHAP], [STATUS]) VALUES (N'PN002', N'NV002', N'NCC002', 320000, 6, N'2024-01-06', 0)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [MANV], [MANCC], [TONGTIEN], [TONGSOLG], [NGAYNHAP], [STATUS]) VALUES (N'PN003', N'NV003', N'NCC003', 180000, 3, N'2024-01-07', 0)
GO
-- Thêm dữ liệu vào bảng SACH


GO
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [SDT], [DIACHI], [EMAIL], [STATUS]) VALUES (N'TG001', N'Nguyen Nhat Anh', N'0911111222', N'HCM', N'tga1@mail.com', 0)
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [SDT], [DIACHI], [EMAIL], [STATUS]) VALUES (N'TG002', N'To Hoai', N'0922222333', N'HN', N'tga2@mail.com', 0)
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [SDT], [DIACHI], [EMAIL], [STATUS]) VALUES (N'TG003', N'Nam Cao', N'0933333444', N'HN', N'tga3@mail.com', 0)
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_MAHD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD_MAHD]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_MAPN] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_MAPN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
CREATE TABLE [dbo].[CHITIETGIAMGIA] (
      [MASACH] [varchar](255) NOT NULL,
      [MAGG] [varchar](255) NOT NULL,
    PRIMARY KEY CLUSTERED (
        [MASACH] ASC,
        [MAGG] ASC
    ),
    CONSTRAINT FK_CHITIET_GIAMGIA_SACH FOREIGN KEY (MASACH) REFERENCES SACH(MASACH),
    CONSTRAINT FK_CHITIET_GIAMGIA_GIAMGIA FOREIGN KEY (MAGG) REFERENCES GIAMGIA(MAGG)
) ON [PRIMARY];

INSERT INTO CHITIETGIAMGIA (MAGG, MASACH) VALUES
('GG001', 'S001'),
('GG004', 'S002'),
('GG004', 'S003'),
('GG002', 'S004'),
('GG004', 'S006'),
('GG001', 'S007'),
('GG004', 'S008'),
('GG005', 'S009'),
('GG001', 'S010'),
('GG004', 'S011'),
('GG004', 'S012'),
('GG003', 'S014'),
('GG004', 'S015'),
('GG001', 'S016'),
('GG002', 'S017'),
('GG006', 'S018'),
('GG008', 'S019'),
('GG004', 'S020');